<div class="card cust-border-color mt-3">
    <div class="card-header text-center cust-background-color cust-text-color cust-header-padding cust-header-font-size">
        User Details
    </div>
    <div *ngIf="!userInfo" class="card-body">
        <div class="text-center">
            <div class="spinner-border m-5" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
    </div>
    <div *ngIf="userInfo" class="card-body">
        <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row">First Name</th>
                <td>:-&nbsp;{{userInfo.firstName}}</td>
              </tr>
              <tr>
                <th scope="row">Last Name</th>
                <td>:-&nbsp;{{userInfo.lastName}}</td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>:-&nbsp;{{userInfo.email}}</td>
              </tr>
              <tr>
                <th scope="row">Date Of Birth</th>
                <td>:-&nbsp;{{userInfo.dateOfBirth | date}}</td>
              </tr>
              <tr>
                <th scope="row">Phone Number</th>
                <td>:-&nbsp;{{userInfo.phoneNumber}}</td>
              </tr>
              <tr>
                <th scope="row">Created Date</th>
                <td>:-&nbsp;{{userInfo.createdDate | date}}</td>
              </tr>
              <tr>
                <th scope="row">Role</th>
                <td>:-&nbsp;{{userInfo.role}}</td>
              </tr>
            </tbody>
          </table>
          
    </div>
</div>