<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card cust-border-color">
                <div class="card-header cust-background-color">
                    <h4 class="text-center cust-text-color">Library Management System</h4>
                    <hr>
                    <h6 class="text-center cust-text-color header2-mb">Sign Up Yourself</h6>
                </div>
                <div class="card-body">
                    <form [formGroup]="signupForm" class="register-form" (validSubmit)="signup()" name="signupForm">
                        <div *ngIf="alertMessage" class="alert mb-3 cust-danger-color cust-danger-border-color cust-text-color alert-dismissible fade show" 
                        role="alert" style="margin-bottom: 0px; border:none; border-radius: 0px;">
                        <strong>{{alertMessage}}</strong> is already exist.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName" required>
                          <bfv-messages></bfv-messages>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" formControlName="lastName" name="lastName" required>
                            <bfv-messages></bfv-messages>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" formControlName="email" name="email" required>
                            <bfv-messages></bfv-messages>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" formControlName="password"
                                name="password" required>
                            <bfv-messages></bfv-messages>
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber">Phone Number</label>
                            <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber"
                                name="phoneNumber" required>
                                <bfv-messages></bfv-messages>
                        </div>
                        <div class="form-group">
                            <label for="dateOfBirth">Date Of Birth</label>
                            <input type="text" bsDatepicker class="form-control" id="dateOfBirth" formControlName="dateOfBirth"
                                name="dateOfBirth" required>
                                <bfv-messages></bfv-messages>
                        </div>
                        <div class="form-group">
                            <label for="role">Role</label>
                            <select class="form-control" id="role" formControlName="role" name="role" required>
                                <option value="" selected disabled>Select role</option>
                                <option value="TEACHER">Teacher</option>
                                <option value="STUDENT">Student</option>
                            </select>
                            <bfv-messages></bfv-messages>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn cust-background-color cust-border-color cust-text-color"
                            (ngSubmit)="signup()">Submit</button>
                            <button type="button" class="btn cust-danger-color cust-danger-border-color cust-text-color float-right"
                                [routerLink]="['/home']">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>