<div class="card cust-border-color mt-3">
    <div
        class="card-header text-center cust-background-color cust-text-color cust-header-padding cust-header-font-size">
        Edit Profile
    </div>
    <div *ngIf="!userInfo" class="card-body">
        <div class="text-center">
            <div class="spinner-border m-5" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div *ngIf="userInfo" class="card-body">
        <form [formGroup]="userForm" (validSubmit)="saveUser()">
            <div class="form-group row">
                <label class="label-control col-md-2">First Name</label>
                <input class="form-control col-md-9" id="firstName" name="firstName" formControlName="firstName"
                    required>
                    <bfv-messages class="col-md-9 offset-md-2"></bfv-messages>
            </div>
            <div class="form-group row">
                <label class="label-control col-md-2">Last Name</label>
                <input class="form-control col-md-9" id="lastName" name="lastName" formControlName="lastName" required>
                <bfv-messages class="col-md-9 offset-md-2"></bfv-messages>
            </div>
            <div class="form-group row">
                <label class="label-control col-md-2">Email</label>
                <input class="form-control col-md-9" id="email" name="email" formControlName="email" required>
                <bfv-messages class="col-md-9 offset-md-2"></bfv-messages>
            </div>
            <div class="form-group row">
                <label class="label-control col-md-2">Date Of Birth</label>
                <input class="form-control col-md-9" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" bsDatepicker id="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth"
                    required>
                    <bfv-messages class="col-md-9 offset-md-2"></bfv-messages>
            </div>
            <div class="form-group row">
                <label class="label-control col-md-2">Phone Number</label>
                <input class="form-control col-md-9" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber"
                    required>
                    <bfv-messages class="col-md-9 offset-md-2"></bfv-messages>
            </div>
            <div class="form-group row" *ngIf="(userInfo.role != 'ADMIN' && userInfo.role != 'LIBRARIAN')">
                <label class="label-control col-md-2">Role</label>
                <select class="form-control col-md-9" id="role" formControlName="role" name="role" required>
                    <option value="" selected disabled>Select role</option>
                    <option *ngIf="userInfo.role == 'ADMIN'" value="LIBRARIAN">Librarian</option>
                    <option value="TEACHER">Teacher</option>
                    <option value="STUDENT">Student</option>
                </select>
                <bfv-messages class="col-md-9 offset-md-2"></bfv-messages>
            </div>
            <div class="form-group">
                <button type="submit" class="btn cust-background-color cust-border-color cust-text-color"
                (ngSubmit)="saveUser()">Save</button>
            </div>
        </form>
    </div>
</div>