.cust-border-color{
    border-color: #5db85b;
}

.cust-background-color{
    background-color: #5db85b;
}

.cust-header-padding{
    padding: 0px;
}

.spinner-border{
    color: #5db85b;
}

.cust-header-font-size{
    font-size: 25px
}

.cust-text-color{
    color: white;
}

.cust-danger-color{
    background-color: #cc0000;
}

.cust-danger-border-color{
    border-color: #cc0000;
}

.float-right{
    float: right;
}

hr{
    margin-top: 0px;
    margin-bottom: 8px;
}

.header2-mb{
    margin-bottom: -4px;
}

.cust-pointer{
    cursor: pointer;
}

a:hover {
    color: #00134d;
}

.cust-font-awesome-color{
    color:#cc0000;
}


