<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card cust-border-color">
                <div class="card-header cust-background-color">
                    <h4 class="text-center cust-text-color">Library Management System</h4>
                    <hr>
                    <h6 class="text-center cust-text-color header2-mb">Sign In Yourself</h6>
                </div>
                <div class="card-body">
                    <form [formGroup]="signinForm" (validSubmit)="signin()">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" formControlName="email" name="email">
                            <bfv-messages></bfv-messages>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" formControlName="password"
                                name="password">
                            <bfv-messages></bfv-messages>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn cust-background-color cust-border-color cust-text-color" ((ngSubmit)="signin()">Submit</button>
                            <button type="button" class="btn cust-danger-color cust-danger-border-color cust-text-color float-right"
                            [routerLink]="['/home']">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>